@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
	box-sizing: border-box;
	font-family: "Press Start 2P";
	color: #0f380f;
}

body {
	/* background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB); */
	background-image: url('./assets/background.png');
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

.logo{
	margin: 5px 0;
}

.chassis{
	width: 857px;
	height: 544px;
	background-image: url('./assets/pinardex-body.png');
	background-repeat: no-repeat;
}

.grid-container {
	display: grid;
	grid-template-columns: 400px 400px;
  }

.grid-item1{
	display: inline-grid;
	grid-gap: 3px;
	justify-items: center;
	align-items: center;
}

.img-box{
	margin-top: 60px;
	width: 254px;
	height: 186;
	background: url(01.png), linear-gradient(180deg, #DAFFBC 34.58%, #647754 99.99%, #000000 100%);
	border: 1px solid #000000;
	border-radius: 5px;
}

.img-box img{
	width: 254px;
	height: 186;
}

.img-box h3{
	font-family: Press Start 2P;
	font-style: normal;
	font-weight: normal;
	line-height: 10px;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-align: center;

	position: absolute;
	width: 60px;
	height: 24.95px;
	top: 338px;

	background: #E2FFD8;
	border: 0.2px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
}

.pokemon-name{
	margin-top: 10px;
	width: 254px;
	height: 43px;

	background: #E2FFD8;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.pokemon-name h2{
	font-family: Press Start 2P;

	padding: 10px;
	font-size: 25px;
	line-height: 25px;
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;

	color: #000000;
}

.pokemon-type{
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.pokemon-type p{
	width: 126px;
	height: 21px;

	font-family: Press Start 2P;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
	padding-left: 30px;

	color: #000000;

	background: #E2FFD8;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.status{
	display: flex;
	gap: 10px;
}

.status-box{
	width: 80px;
	height: 80px;

	background: #E2FFD8;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.status-box h1{
	margin-top: 10px;
	padding: 0 5px;
	font-family: Press Start 2P;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;

	color: #000000;
}

.status-box p{
	margin-top: 10px;
	padding: 10px;
	font-family: Press Start 2P;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;

	color: #000000;
}

.grid-item2{
	display: inline-grid;
	grid-gap: 3px;
	justify-items: center;
	align-items: center;
}

.about{
	margin: 100px 0 0 100px;
	width: 254px;
	height: 292px;

	background: #E2FFD8;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.about p{
	padding: 10px;
	font-family: Press Start 2P;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	text-align: justify;

	color: #000000;
}






.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    border: 1px solid #000;
	border-radius: 5%;
	width: 254px;
	height: 186px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon .img-container img {
	max-width: 90%;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}